# macOS
.DS_Store
# Xcode build artifacts & user settings
build/
DerivedData/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xcuserstate
*.xccheckout
*.xcscmblueprint

# Swift / ObjC specifics
*.hmap
*.ipa
*.dSYM
*.dSYM.zip

# SwiftUI Playgrounds (if used)
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
.build/
!Package.resolved

# Xcode workspace (if you commit it)
*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings

# Fastlane artifacts (if used)
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output

# Temporary editor files
*.swp
*.swo
*.tmp
*.log
*.orig